<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732458047446-go603jigvo7sovmkr3f0dvu50ev20af0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732458047446-go603jigvo7sovmkr3f0dvu50ev20af0</string>
	<key>API_KEY</key>
	<string>AIzaSyCc7h48EorwyTJSZ-dx01rj4EtaGER9YKc</string>
	<key>GCM_SENDER_ID</key>
	<string>732458047446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MasakatsuTagishi.OhnawaLog</string>
	<key>PROJECT_ID</key>
	<string>ohnawalogapp</string>
	<key>STORAGE_BUCKET</key>
	<string>ohnawalogapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732458047446:ios:28e16bc6233d795b30b677</string>
</dict>
</plist>